
@{
    ViewBag.Title = "NotFound";
}

<div class="row my-3">
    <div class="col">
        <div class="card rounded-0">
            <div class="card-body">
                <div class="jumbotron m-0">
                    <h2 class="display-6">Hata mı oldu ki <i class="far fa-dizzy"></i></h2>
                    <p class="lead">
                        Komutan Logar
                        <br />
                        Bir cisim yaklaşıyor efendim.
                    </p>
                    <a class="btn btn-primary btn-lg mt-5" href="/">Anasayfa</a>
                </div>
            </div>
        </div>
    </div>
</div>


