body {
    background-color: #6c757d;
}

.field-validation-error {
    font-size: 12px;
    margin-left: 10px;
    color: red;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }



@media (min-width: 767.98px) {
    .costum-form-control {
        display: inline-block;
        width: calc(100% - 86px)
    }

    .btn-costum {
        margin-top: -4px;
    }
}

@media (max-width: 767.98px) {
    .costum-form-control {
        display: inline-block;
        width: calc(100% - 13px)
    }

    .btn-costum {
        margin-top:5px;
        float: right;
    }
}
