
@{
    ViewBag.Title = "Sipariş Tamamlandı";
}

<div class="row my-3">
    <div class="col">
        <div class="card rounded-0">
            <div class="card-body">
                <div class="jumbotron m-0">
                    <h2 class="display-6">Siparişiniz Tamamlandı</h2>
                    <p class="lead">
                        Sipariş ile ilgili bilgileriniz <strong>@ViewBag.UserEmail</strong> adresine
                        gönderilmiştir. Siparişinizin onay ve kargo süreçleri hakkında mail adresiniz üzerinden
                        sizi
                        bilgilendireceğiniz.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

@Html.Action("_BestSellingProducts", "Home")