
@{
    ViewBag.Title = "TimeOut";
}

<div class="row my-3">
    <div class="col">
        <div class="card card-body rounded-0 shadow" style="height:300px">
            <table class="h-100 text-center font-weight-bold" style="font-size:20px">
                <tr>
                    <td>
                        Sipariş işlemleri zaman aşımına uğramıştır lütfen tekrar deneyiniz.
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>


